<header class="navbar navbar-expand-lg navbar-light bg-light px-5 py-2 custom-header">
  <div class="d-flex justify-content-between w-100 align-items-center">

    <!-- Logo -->
    <div class="navbar-brand font-weight-bold">TaskHub</div>

    <!-- Buttons -->
    <ul class="d-flex align-items-center">
      <!-- Low -->
      <li>
        <a href="#" class="circle-btn low mx-2" title="Low Priority"></a>
      </li>
      <!-- Medium -->
      <li>
        <a href="#" class="circle-btn medium mx-2" title="Medium Priority"></a>
      </li>
      <!-- High -->
      <li>
        <a href="#" class="circle-btn high mx-2" title="High Priority"></a>
      </li>
      <!-- Add -->
      <li>
        <a href="#" class="circle-btn add mx-2" title="Add Task"><i class='bx bx-plus'></i></a>
      </li>
      <!-- Login/Logout -->
     {% if user.is_authenticated %}
      <li class="reg-btn">{{ user.get_username }}</li>
      <li class="">
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" class="reg-btn">Logout</button>
        </form>
      </li>
     {% else %}
      <li class="">
        <a href="{% url 'login' %}?next={{ request.path }}" class="reg-btn">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</header>